src/wsdl/localhost_8080/ISDCM_SOAP/VideoSearchWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://isdcm_soap.upc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://isdcm_soap.upc.com/">

<xs:element name="BusquedaPorAutor" type="tns:BusquedaPorAutor"/>

<xs:element name="BusquedaPorAutorResponse" type="tns:BusquedaPorAutorResponse"/>

<xs:element name="BusquedaPorFecha" type="tns:BusquedaPorFecha"/>

<xs:element name="BusquedaPorFechaResponse" type="tns:BusquedaPorFechaResponse"/>

<xs:element name="BusquedaPorTitulo" type="tns:BusquedaPorTitulo"/>

<xs:element name="BusquedaPorTituloResponse" type="tns:BusquedaPorTituloResponse"/>

<xs:complexType name="BusquedaPorAutor">
<xs:sequence>
<xs:element name="Autor" type="xs:string" minOccurs="0"/>
<xs:element name="Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusquedaPorAutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="creationDate" type="tns:date" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:string" minOccurs="0"/>
<xs:element name="format" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BusquedaPorTitulo">
<xs:sequence>
<xs:element name="Titulo" type="xs:string" minOccurs="0"/>
<xs:element name="Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusquedaPorTituloResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusquedaPorFecha">
<xs:sequence>
<xs:element name="Fecha" type="xs:string" minOccurs="0"/>
<xs:element name="Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusquedaPorFechaResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>