src/wsdl/localhost_8080/ISDCM_SOAP/VideoSearchWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://isdcm_soap.upc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://isdcm_soap.upc.com/" name="VideoSearchWS">
<types>
<xsd:schema>
<xsd:import namespace="http://isdcm_soap.upc.com/" schemaLocation="http://localhost:8080/ISDCM_SOAP/VideoSearchWS?xsd=1"/>
</xsd:schema>
</types>
<message name="busquedaPorAutor">
<part name="parameters" element="tns:busquedaPorAutor"/>
</message>
<message name="busquedaPorAutorResponse">
<part name="parameters" element="tns:busquedaPorAutorResponse"/>
</message>
<message name="busquedaPorFecha">
<part name="parameters" element="tns:busquedaPorFecha"/>
</message>
<message name="busquedaPorFechaResponse">
<part name="parameters" element="tns:busquedaPorFechaResponse"/>
</message>
<message name="busquedaTodos">
<part name="parameters" element="tns:busquedaTodos"/>
</message>
<message name="busquedaTodosResponse">
<part name="parameters" element="tns:busquedaTodosResponse"/>
</message>
<message name="busquedaPorTitulo">
<part name="parameters" element="tns:busquedaPorTitulo"/>
</message>
<message name="busquedaPorTituloResponse">
<part name="parameters" element="tns:busquedaPorTituloResponse"/>
</message>
<portType name="VideoSearchWS">
<operation name="busquedaPorAutor">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaPorAutorRequest" message="tns:busquedaPorAutor"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaPorAutorResponse" message="tns:busquedaPorAutorResponse"/>
</operation>
<operation name="busquedaPorFecha">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaPorFechaRequest" message="tns:busquedaPorFecha"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaPorFechaResponse" message="tns:busquedaPorFechaResponse"/>
</operation>
<operation name="busquedaTodos">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaTodosRequest" message="tns:busquedaTodos"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaTodosResponse" message="tns:busquedaTodosResponse"/>
</operation>
<operation name="busquedaPorTitulo">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaPorTituloRequest" message="tns:busquedaPorTitulo"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/busquedaPorTituloResponse" message="tns:busquedaPorTituloResponse"/>
</operation>
</portType>
<binding name="VideoSearchWSPortBinding" type="tns:VideoSearchWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="busquedaPorAutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaPorTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VideoSearchWS">
<port name="VideoSearchWSPort" binding="tns:VideoSearchWSPortBinding">
<soap:address location="http://localhost:8080/ISDCM_SOAP/VideoSearchWS"/>
</port>
</service>
</definitions>