src/main/webapp/WEB-INF/wsdl/localhost_8080/ISDCM_SOAP/VideoSearchWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://isdcm_soap.upc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://isdcm_soap.upc.com/" name="VideoSearchWS">
<types>
<xsd:schema>
<xsd:import namespace="http://isdcm_soap.upc.com/" schemaLocation="http://localhost:8080/ISDCM_SOAP/VideoSearchWS?xsd=1"/>
</xsd:schema>
</types>
<message name="BusquedaPorTitulo">
<part name="parameters" element="tns:BusquedaPorTitulo"/>
</message>
<message name="BusquedaPorTituloResponse">
<part name="parameters" element="tns:BusquedaPorTituloResponse"/>
</message>
<message name="BusquedaPorAutor">
<part name="parameters" element="tns:BusquedaPorAutor"/>
</message>
<message name="BusquedaPorAutorResponse">
<part name="parameters" element="tns:BusquedaPorAutorResponse"/>
</message>
<message name="BusquedaPorFecha">
<part name="parameters" element="tns:BusquedaPorFecha"/>
</message>
<message name="BusquedaPorFechaResponse">
<part name="parameters" element="tns:BusquedaPorFechaResponse"/>
</message>
<portType name="VideoSearchWS">
<operation name="BusquedaPorTitulo">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/BusquedaPorTituloRequest" message="tns:BusquedaPorTitulo"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/BusquedaPorTituloResponse" message="tns:BusquedaPorTituloResponse"/>
</operation>
<operation name="BusquedaPorAutor">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/BusquedaPorAutorRequest" message="tns:BusquedaPorAutor"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/BusquedaPorAutorResponse" message="tns:BusquedaPorAutorResponse"/>
</operation>
<operation name="BusquedaPorFecha">
<input wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/BusquedaPorFechaRequest" message="tns:BusquedaPorFecha"/>
<output wsam:Action="http://isdcm_soap.upc.com/VideoSearchWS/BusquedaPorFechaResponse" message="tns:BusquedaPorFechaResponse"/>
</operation>
</portType>
<binding name="VideoSearchWSPortBinding" type="tns:VideoSearchWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="BusquedaPorTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BusquedaPorAutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BusquedaPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VideoSearchWS">
<port name="VideoSearchWSPort" binding="tns:VideoSearchWSPortBinding">
<soap:address location="http://localhost:8080/ISDCM_SOAP/VideoSearchWS"/>
</port>
</service>
</definitions>